registry=https://artifactory.globaldevtools.bbva.com:443/artifactory/api/npm/gl-bbva-npm-virtual
_auth = anVhbmNhcmxvcy5oZXJuYW5kZXouemFtb3JhLmNvbnRyYWN0b3I6QUtDcDhuemc2QXFneGN3RVNrS1g5N2dEbjR0UDN0ancxU1ZRZTRxRFZlOWpqNG12QnNIbm9wTDg4Z2lLcUhVdHBnR282Sk50aQ==
always-auth = true
email = JUANCARLOS.HERNANDEZ.ZAMORA.CONTRACTOR@BBVA.COM
